Flask
flask_migrate
flask_cors
python-dotenv
pyodbc
numpy
pandas
scikit-learn
tensorflow
SQLAlchemy
Flask-SQLAlchemy
nltk
tf-keras
keras
deepface
opencv-python
faiss-cpu
imbalanced-learn
sentence-transformers
mediapipe